<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssl.module.base">

    <application>

        <activity android:name="com.ssl.module.base.backups.RestoreActivity">
            <!--从文件浏览器导入文件-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/*" />
            </intent-filter>



        </activity>

    </application>
</manifest>
